{% extends 'base.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1>Блог был изменен</h1>
        <p>{{ blog.title }}</p>
        <p>{{ blog.description }}</p>
        <p>{{ blog.text }}</p>

    </div>
{% endblock %}